$progress-bar-text-color: #000000;
$full-width: 100%;
$progress-bar-height: 100%;

.container {

    .myProgress {
        position: relative;
        margin-top: 30px;
        width: 100%;
        height: 30px;
        background-color: #ddd;

        .bar {
            height: $progress-bar-height;
            background-color: #4CAF50;

            .progress-text {
                color: $progress-bar-text-color;
                text-align: center;
                font-size: 1em;
                font-weight: bold;
                position: absolute;
                top: 20%;
                left: 50%;
            }
        }
    }
}


.button {
    width: 60px;
    float: left;
    margin-left: 10px;
    text-align: center;
}



.top-buffer {
    margin-top: 20px;
}
